[submodule "langchain-tutorials"]
	path = langchain-tutorials
	url = https://github.com/gkamradt/langchain-tutorials/
[submodule "bitsandbytes"]
	path = bitsandbytes
	url = https://github.com/bitsandbytes-foundation/bitsandbytes
